
services:
  wings:
    image: ghcr.io/pterodactyl/wings:latest
    restart: always
    networks:
      - wings0
    ports:
      - "${WINGS_API_PORT:-8080}:${WINGS_API_PORT:-8080}"
      - "${WINGS_SFTP_PORT:-2022}:${WINGS_SFTP_PORT:-2022}"
    tty: true
    environment:
      TZ: "${APP_TIMEZONE}"
      WINGS_UID: "${WINGS_UID}"
      WINGS_GID: "${WINGS_GID}"
      WINGS_USERNAME: "${WINGS_USERNAME}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers/:/var/lib/docker/containers/"
      - "/etc/pterodactyl/:/etc/pterodactyl/"
      - "/var/lib/pterodactyl/:/var/lib/pterodactyl/"
      - "/var/log/pterodactyl/:/var/log/pterodactyl/"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
      - "/etc/ssl/certs:/etc/ssl/certs:ro"
      - "/run/wings:/run/wings"

networks:
  wings0:
    name: wings0
    driver: bridge
    ipam:
      config:
        - subnet: "172.21.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: wings0
